h1 {
  
  color: bisque;
  letter-spacing: 5px;
  cursor: pointer;
  transition: .5s;
}

h1:hover {
  color: rgb(181, 12, 7);
  text-shadow: 0 0 5px orange,
  0 0 25px orange,
  0 0 55px orange,
  0 0 100px orange;

}